.TeamViewer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;
  bottom: 0;
  height: 70px;

  margin-bottom: 0;

  background-color: #3d3d3d;
  text-transform: capitalize;
}

.TeamViewer .MiniCard {
  margin: 10px 5px;
}
